<!DOCTYPE html>
<html>
  <head>
    <title>Bankapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav' %>
    <div class="container_fluid">
      <div class = "row">
        <div class = "col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
